@media (max-width: 991px) {
    .header {
        margin-left: 50px;
        margin-right: 50px;
        &__official {
            margin-right: 0;
        }
    }

    .promo {
        &__wrapper {
            margin-right: 50px;
        }
    }

    .advances {
        &__wrapper {
            margin: 0;
            flex-direction: column;
        }
        &__block {
            width: 55%;
            margin: 0 auto;
        }
        &__icon {
            margin-top: 25px;
        }
        &__label {
            margin-top: 15px;
        }
        &__descr {
            margin: 10px;
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__official {
            display: none;
        }
    }

    .button {
        &_main {
            width: 250px;
        }
    }

    .promo {
        padding: 10px 0 50px 0;
    }

    .advances {
        padding: 33px 0 40px 0;
    }
}

@media (max-width: 575px) {

    .header {
        flex-direction: column;
        &__contacts {
            margin-top: 10px;
        }
    }

    .promo {
        &__wrapper {
            margin: 80px 15px 0 15px;
            margin-top: 80px;
            align-items: center;
        }
        &__header {
            font-size: 33px;
            text-align: center;
        }
        &__subheader {
            font-size: 20px;
            text-align: center;
        }
        &__icons {
            width: 50%;
            margin: 0;
            flex-direction: column;
            align-items: center;
        }
        &__icon {
            margin-top: 20px;
        }
    }

    .consultation {
        padding: 48px 5px 46px 10px;
        &__descr {
            font-size: 18px;
            margin-top: 35px;
            text-align: center;
        }
    }

    .title {
        &_left {
            font-size: 21px;
            text-align: center;
        }
    }

    .feed-form {
        align-items: center;
        margin: 0 auto;
        margin-top: 25px;
        input {
            width: 210px;
        }
    }

    .button {
        &_submit {
            width: 250px;
        }
    }
}